nav{
    max-width:20000px;
  margin: 0 auto;
  padding: 10px;
  margin-right: 0%;
  width:100%;
  background-color: black;
  position: fixed;
  top: 0;a
  }
  nav>ul{
    text-align: center;
    top: 0;
  }
  ul>li{
    display: inline-block;
    
  }
  nav>ul>li>a{
    padding: 15px;
    margin-right: o;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: rgb(226, 9, 172);
  }
  nav>ul>li>a:hover{
    box-shadow: 0 0 10px rgba(75, 4, 241, 0.1),inset 0 0 1px rgba(33, 241, 5, 0.6);
    background: rgba(240, 97, 40, 0.3);
    color: rgba(196, 230, 5, 0.8);
  }
  h1{
      padding-top: 7%;
      color: rgb(221, 7, 157);
  }
body{
  font-size: 30px;
  text-align: center;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKtQhooZfXAzcbcppkdmUIg404Dst4QVgWi9mDDAkJjpQO2nKiVQ&s');
  color: rgb(138, 236, 57); 
}
#rugby{
    display:flexbox;
}
#ori >img{
    border-radius: 80%;
}
.history >img{
    border-radius: 80%;
}
.histo >img {
    border-radius: 80%;
}
.rgby >img{
    border-radius:80%;
}
#ori, .rgby,.history,.histo{
    display: flex;
}
